@charset "UTF-8";
/* CSS Document */

/*  Written by Bixby.cz
	CSS classes usually follow the DOM structure. Feel free to peek in.

	
	DB-SLIDES.css (global styles)
	
	• General

*/



/* General 
-----------------------------------------------------------------------------------------------*/

html { height:100%; }

#mainContainer, #mainContainer .navBarClosed {
  margin: 0 48px;
  }
  
.slidesBody {
	background: #555 url('../images/slidesBg.png') repeat;
	padding:0;
	width:100% !important;  height:100%;
	}
	
	.slidesBody div.titlepage {
		text-align: center;
	  }
	
	.slidesBody div.titlepage, .slidesBody div.foil, .slidesBody div.foilgroup {
		position: relative;
		margin: 10px 10px 10px;
		padding: 30px;
		background: #fff;
		
		-moz-border-radius: 4px;
		border-radius: 4px;
		-moz-box-shadow: 0 1px 4px #222;
		-webkit-box-shadow: 0 1px 4px #222;
		box-shadow: 0 1px 4px #222;
		
		min-height: 85%;
		}
		.slidesBody h1.title {
			text-align:center;
		  }

div.leftNav, div.rightNav {
	position: absolute;
	color: #000;
	top: 10px;
	}
div.leftNav, div.leftNav.navBarClosed {
	left: 11px;
	}
	div.leftNav a#previousButton {
		margin-bottom: 6px;
		background: url(../images/leftButton.png?embed=true);
		width: 35px;	height: 35px;
		}
	div.leftNav a#togglePanelButton {
		background: url(../images/togglePanelButton.png?embed=true);
		width: 35px;	height: 35px;
		}
div.rightNav {
	right: 11px;
	}
	div.rightNav a#nextButton {
		margin-bottom: 5px;
		background: url(../images/rightButton.png?embed=true);
		width: 35px;	height: 35px;
		}
	div.rightNav div#pageNumber {
		text-align: center;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 0.7em;
		color: #666;
		text-shadow: 0 1px 0 #ddd;
		width: 35px;	height: 35px;
		}


/* NavBar -----------------------------------------------------------------------------------------------*/
#mainContainer.navBarOpened {
    margin-left: 240px; /* navBarClosed style defined above */
    }
    
div.leftNav.navBarOpened {
    left: 200px; /* navBarClosed style defined above */
  	}
	
#navBar, #navBar.navBarClosed {
	display: block;
	position: absolute;
	top: 0; left:0;
	z-index: 2;
	width: 0px; height:100%; 
	overflow-x: hidden;
	overflow-y: scroll;
	
	background: rgb(90,94,103);
	background: rgba(0,0,0,0.4);
  box-shadow:inset -2px 0 4px rgba(0,0,0,0.2);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  }
  #navBar.navBarOpened {
      width: 190px;
      }
      
  #navBar ul {
      list-style-type: none;
      padding: 1em 1em;
      }
      #navBar li {
          }
          #navBar div.separator {
            position: relative;
            left: -14px;
            width: 1000px;  height: 1px;
            margin: 0.6em 0;
            background: rgba(0,0,0,0.1);
            box-shadow:0 1px 0 rgba(255,255,255,0.1);
            }
          #navBar strong {  
            font-weight: bold;
            }
          #navBar a:link, #navBar a:visited, #navBar a:hover, #navBar a:active {
            display: block;
            color: #fff;
            padding: 0.2em 0;
            text-shadow: 0 1px 1px rgba(0,0,0,0.3);
            }










